<!DOCTYPE HTML>

<html>
	<head>
		<title>Vaidu Doctor</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main_start.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
	</head>
	<body class="landing is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">Vaidu Doctor</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											
											<li><a href="/plant"> plant leaf </a></li>
											<li><a href="/human"> human chest x-ray </a></li>
											
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Banner -->
					<section id="banner">
                                                
  
						<div class="inner">
							<h2>Vaidu Doctor</h2>
							<p><strong><i>This is an AI & AR based platform<br />
							for diagnosing & consulting heath issues<br />
							</i></strong></p>
							<ul class="actions special">
								<li><div class="button primary">Lets go!</div></li>
							</ul>

						<div class="more scrolly">Learn More</div>
						
						</div>
					</section>

				<!-- One -->
					
				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="https://images.unsplash.com/photo-1457530301326-d55420c9898a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTJ8fHBsYW50c3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" /></div><div class="content">
								<h2>Plants diagnosis</h2>
								<p>Diagnosing plant leaves of your garden or farm to know if they have got any disease from over 38 diseases  or they are healthy.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="https://images.unsplash.com/photo-1616012480717-fd9867059ca0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8eCUyMHJheXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" /></div><div class="content">
								<h2>Human chest x-ray diagnosis</h2>
								<p>Diagnosing for chest or cardiotic diseases over 14 different diseases providing chest x-ray to know if one has got any disease or he/she is healthy.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="./static/meetdoc.jpg" alt="" /></div><div class="content">
								<h2>Meeting Vaidu</h2>
								<p>Here you will meet Vaidu.<br>She will tell you about some remedies or some references of health problems that you are facing.<br>This done using AR to make good user experience as of meeting doctor at home.</p>
							</div>
						</section>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Select from these!!</h2>
								<p>Here are these 3 categories select according to your concern.</p>
							</header>
							<ul class="features">
								<li >
									<a href="/plant" class="button primary">Plant leaf diagnosis</a>
									<p>Hereby you can upload picture of specific plant and you will get to know about its disease.</p>
								</li>
								<li >
									<a href="/human" class="button primary">Human chest x-ray diagnosis</a>
									<p>Hereby you can upload picture of chest x-ray and you will get to know about its disease.</p>
								</li>
								<li >
									<a href="https://github.com/Yogirajdas/Vaidu_Doctor/apk" class="button primary">consult doctor(meet)</a>
									<p>Hereby you will get apk of android app which you can take in mobile and meet Vaidu. It will ask for camera permission and then you can see her right at your place & you can tell her issue and she will tell you about home made remedies or references.</p>
								</li>
								
							</ul>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								
								<p>To know about more details of "Vaidu Doctor", its purpose, working, concept & inspration visit github page, link is provided here.</p>
							</header>
							<ul class="actions stacked">
								
								<li><a href='https://github.com/Yogirajdas/Vaidu_Doctor' class="button fit">Github link</a></li>
							</ul>
						</div>
					</section>

				<!-- Footer -->
					

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript" ></script>
			<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}" type="text/javascript" ></script>
			<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}" type="text/javascript" ></script>
			<script src="{{ url_for('static', filename='js/browser.min.js') }}" type="text/javascript" ></script>
			<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}" type="text/javascript" ></script>
			<script src="{{ url_for('static', filename='js/util.js') }}" type="text/javascript" ></script>
			<script src="{{ url_for('static', filename='js/main_start.js') }}" type="text/javascript" ></script>
                       
	</body>
</html>
